:root {
  --Dark-purple: #301534;
  --Pink: #ac28eb;
  --Light-pink: #f5ecfd;
  --Pale-purple: #8b6990;
  --White: #FFF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
}

body {
  background-color: var(--Light-pink);
}
.App {
  background-color: var(--Light-pink);
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 0 24px;
}

.top-background {
  background-image: url('./images/background-pattern-desktop.svg');
  width: 100%;
  height: 320px;
  position: absolute;
  top: 0;
}
  
  .title h1::before {
    content: url('./images/icon-star.svg');
    display: inlne;
    height: 40px;
    width: 40px;
    margin-right: 24px;
  }
  .title h1 {
    font-size: 56px;
    font-weight: 700;
  }